<div class="column is-full"><app-headerGenerator/></div>
<div class="columns is-fullhd box">
  <div class="column is-half">
    <form class="box">
      <div class="columns is-multiline">
        <div class="column is-full">
          <div class="field">
            <label class="label" for="titulo">Título:</label>
            <div class="control">
              <input id="titulo" type="text" class="input" formControlName="titulo" placeholder="Ingresa el título del elemento"/>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="field">
            <label class="label" for="norma">Norma:</label>
            <div class="control">
              <div class="select is-fullwidth">
                </div>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="field">
            <label class="label" for="categoria">Categoría:</label>
            <div class="control">
              <div class="select is-fullwidth">
                </div>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="field">
            <label class="label" for="criterioDesempeno">Criterio de Desempeño:</label>
            <div class="control">
              <div class="select is-fullwidth">
                </div>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="field">
            <label class="label" for="conocimiento">Conocimiento:</label>
            <div class="control">
              <div class="select is-fullwidth">
                </div>
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div class="field">
            <label class="label" for="contexto">Contexto:</label>
            <div class="control">
              <textarea id="contexto" class="textarea" formControlName="contexto" placeholder="Describe el contexto o escenario del reactivo"></textarea>
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div class="field">
            <label class="label" for="reactivo">Reactivo:</label>
            <div class="control">
              <textarea id="reactivo" class="textarea" formControlName="reactivo" placeholder="Escribe el reactivo o pregunta principal"></textarea>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="field">
            <label class="label" for="generar">Generar:</label>
            <div class="control">
              <div class="select is-fullwidth">
                </div>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="field">
            <label class="label" for="formato">Formato:</label>
            <div class="control">
              <div class="select is-fullwidth">
                </div>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="field">
            <label class="label" for="limite">Límite:</label>
            <div class="control">
              <div class="select is-fullwidth">
                </div>
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-primary is-fullwidth" [disabled]="">Generar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="column"><app-items /></div>
</div>