<div class="tabs is-centered">
    <ul>
        <li class="is-active">
            <a>
                <span class="icon is-small"><i class="fa-solid fa-file-export"></i></span>
                <span>Exportar Items</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="fa-solid fa-fire"></i></span>
                <span>Destruir Items</span>
            </a>
        </li>

        <li>
            <a href="/normas">
                <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                <span>Normas</span>
            </a>
        </li>
        <li>
            <a href="http://31.97.149.50/docs/intro">
                <span class="icon is-small"><i class="fa-solid fa-book"></i></span>
                <span>Manuales</span>
            </a>
        </li>
    </ul>
</div>