<div class="container is-fullhd">
  <form class="box p-5" [formGroup]="normForm" (ngSubmit)="onSubmit()">
    <div class="level mb-4">
      <div class="level-left">
        <div class="level-item">
          <h4 class="title is-4 mb-0">Editando Norma</h4>
        </div>
      </div>
    </div>
    <hr class="mt-0">

    <div *ngIf="error$ | async as error" class="notification is-danger is-light mb-4">
      {{ error }}
    </div>

    <div class="field">
      <label class="label" for="codigoNorma">Código de Norma:</label>
      <div class="control">
        <input id="codigoNorma" class="input" formControlName="codigoNorma" type="text">
      </div>
    </div>

    <div class="field">
      <label class="label" for="normaCertificacion">Norma de Certificación:</label>
      <div class="control">
        <input id="normaCertificacion" class="input" formControlName="normaCertificacion" type="text">
      </div>
    </div>

    <div class="field">
      <label class="label">Criterios de Desempeño:</label>
      <div formArrayName="criteriosDesempeno" class="box is-shadowless p-4 mb-4 has-background-light">
        <div *ngFor="let criterio of criteriosDesempeno.controls; let i = index" class="field is-grouped is-align-items-center mb-3">
          <div class="control is-expanded">
            <input [formControlName]="i" class="input" type="text" placeholder="Agrega un criterio de desempeño">
          </div>
          <div class="control">
            <button (click)="removeCriterio(i)" type="button" class="button is-danger is-outlined" [disabled]="criteriosDesempeno.length <= 1">
              <span class="icon is-small"><i class="fas fa-times"></i></span>
            </button>
          </div>
        </div>
        <div class="control">
          <button (click)="addCriterio()" type="button" class="button is-success is-light is-fullwidth">
            <span class="icon is-small"><i class="fas fa-plus"></i></span>
            <span>Añadir Criterio</span>
          </button>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Conocimientos Relacionados:</label>
      <div formArrayName="conocimientodelItem" class="box is-shadowless p-4 has-background-light">
        <div *ngFor="let conocimiento of conocimientodelItem.controls; let i = index" class="field is-grouped is-align-items-center mb-3">
          <div class="control is-expanded">
            <input [formControlName]="i" class="input" type="text" placeholder="Agregar conocimiento relacionado">
          </div>
          <div class="control">
            <button (click)="removeConocimiento(i)" type="button" class="button is-danger is-outlined" [disabled]="conocimientodelItem.length <= 1">
              <span class="icon is-small"><i class="fas fa-times"></i></span>
            </button>
          </div>
        </div>
        <div class="control">
          <button (click)="addConocimiento()" type="button" class="button is-success is-light is-fullwidth">
            <span class="icon is-small"><i class="fas fa-plus"></i></span>
            <span>Añadir Conocimiento</span>
          </button>
        </div>
      </div>
    </div>

    <div class="field is-grouped is-grouped-right mt-5">
      <div class="control">
        <button type="submit" class="button is-primary is-medium" [disabled]="normForm.invalid || (loading$ | async)" [ngClass]="{'is-loading': loading$ | async}">
          <span class="icon"><i class="fas fa-save"></i></span>
          <span>Guardar Cambios</span>
        </button>
      </div>
      <div class="control">
        <a routerLink="/normas" class="button is-light is-medium">
          <span class="icon"><i class="fas fa-ban"></i></span>
          <span>Cancelar</span>
        </a>
      </div>
    </div>
  </form>
</div>