<div class="container is-fullhd box">
    <div class="level is-mobile mb-5">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title">Usuarios</h1>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a routerLink="/register" class="button is-primary">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Nuevo Usuario</span>
                </a>
            </div>
        </div>
    </div>
    <div class="box is-shadow-1 is-rounded overflow-hidden">
        <div class="table-container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th class="has-text-left has-text-weight-semibold has-text-grey-light is-uppercase tracking-wider">Usuario</th>
                        <th class="has-text-left has-text-weight-semibold has-text-grey-light is-uppercase tracking-wider">Email</th>
                        <th class="has-text-left has-text-weight-semibold has-text-grey-light is-uppercase tracking-wider">Rol</th>
                        <th class="has-text-left has-text-weight-semibold has-text-grey-light is-uppercase tracking-wider">Status</th>
                        <th class="has-text-right has-text-weight-semibold has-text-grey-light is-uppercase tracking-wider">
                            <span class="sr-only">Acciones</span>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="users$ | async as users; else loading">
                    <tr *ngIf="users.length === 0">
                        <td colspan="5" class="has-text-centered">No se encontraron usuarios.</td>
                    </tr>
                    <tr *ngFor="let user of users">
                        <td>
                            <div class="media is-align-items-center">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img [src]="user.image" alt="foto" class="is-rounded object-cover">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-6 has-text-grey-darker mb-1">{{ user.fullName }}</p>
                                    <p class="subtitle is-7 has-text-grey">{{ user.department }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="has-text-grey-darker">{{ user.email }}</p>
                        </td>
                        <td>
                            <span class="tag" [ngClass]="{'is-info': user.role === 'admin', 'is-light': user.role !== 'admin'}">
                                {{ user.role }}
                            </span>
                        </td>
                        <td>
                            <span class="tag" [ngClass]="{'is-success': user.status, 'is-danger': !user.status}">
                                {{ user.status ? 'Activo' : 'Inactivo' }}
                            </span>
                        </td>
                        <td class="has-text-right">
                            <a routerLink="/users/{{user.id}}" class="button is-text is-small has-text-info mr-2">Ver</a>
                            <a routerLink="/users/{{user.id}}/edit" class="button is-text is-small has-text-info">Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

<ng-template #loading>
    <tbody>
        <tr>
            <td colspan="5" class="has-text-centered py-5">
                <button class="button is-loading is-ghost">Cargando</button>
            </td>
        </tr>
    </tbody>
</ng-template>